{{ ansible_managed | comment }}
all:
  hosts:
{% for host in ansible_play_hosts %}
    {{ hostvars[host].ansible_net_hostname }}:
      ansible_host: "{{ host }}"
{% endfor %}
  children:
{% for group in groups.keys() %}
{%  if (groups[group] | length) %}
{%    if (group != 'all') and (group != 'ungrouped') %}
    {{ group }}:
      hosts:
{%      for host in groups[group] %}
        {{ hostvars[host].ansible_net_hostname }}:
{%      endfor %}
{%    endif %}
{%  endif %}
{% endfor %}
